<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MapleStory Latency Tracker</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
</head>
<body>
    <header>
        
        <h1><img src="/styles/images/mushroom.png" alt="Mushroom" height="30">MapleStory Latency Tracker</h1>
        
        <p><img src="/styles/images/kronos.png" alt="Mushroom" height="30">Kronos</p>
    </header>

    <main>
        <section id="topUnstableChannels" class="container">
            <h2>Top 5 Most Unstable Channels</h2>
            <ul>
                <% for (let i = 0; i < 5; i++) { %>
                    <li class="box"><%= unstableChannels[i].name %>: <%= unstableChannels[i].unstable %>  <%= channelLatencies[unstableChannels[i].name] %> ms</li>
                <% } %>
            </ul>
        </section>

        <section id="topHighestLatencies" class="container">
            <h2>Top 5 Highest Latencies</h2>
            <ul>
                <% 
                const sortedChannels = Object.entries(channelLatencies).sort((a, b) => b[1] - a[1]);
                const top5 = sortedChannels.slice(0, 5);
                top5.forEach(([channel, latency]) => { %>
                    <li class="box"><%= channel %>: <%= latency %> ms</li>
                <% }); %>
            </ul>
        </section>

        <section id="channelLatencyGraph" class="full-width">
            <h2>Channel Latency Graph</h2>
            <canvas id="latencyChart" width="800" height="200"></canvas>
        </section>
    </main>
    <!-- Include the auto reload script here -->
    <script>
        // Function to automatically reload the page every 20 seconds
        function autoReloadPage() {
            setInterval(() => {
                window.location.reload();
            }, 20000);
        }

        // Call the autoReloadPage function when the window loads
        window.addEventListener('load', autoReloadPage);
    </script>

    <footer>
        <p>&copy; 2024 MapleStory Latency Tracker</p>
    </footer>

    <script type="text/javascript" src="client.js"></script>
</body>
</html>
